<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('template/header'); %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
</head>

<body>
    <div class="container">
        <div id="app"></div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" id="nameGrup">Card title</h5>
                <p class="card-text" id="description">.</p>
            </div>
        </div>
        <table class="table table-striped" style="width:100%" id="tabelClient">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">lastUpdate</th>
                    <th scope="col">status</th>
                    <th scope="col">duration</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- ./wrapper -->
    <%- include('template/footer'); %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>

        <script>
            function getCookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        </script>
        <script src="/asset/js/history.js"></script>
</body>

</html>